.md-header__button.md-logo img,.md-header__button.md-logo svg {
    height: 3rem !important;
}

.md-header__title {
    font-size: 1.2rem;
}

.md-header__source {
    display: block;
    max-width: 18rem;
    width: 18rem;
}

p {
    text-align:  justify;
}

figure {
    margin-top: 0px;
}

h1#initialize-a-new-msfs-scenery-project {
    margin-bottom: 0px;
}

.md-button.gedot {
    padding: 0.20em 0.75em !important;
}

div.no-bottom-margin {
    margin-bottom: -1.5em;
}

.md-typeset figure.md-blender {
    display: inline!important;
}

.md-slider-title {
    margin-bottom: 0px !important;
}

.md-typeset figcaption {
    margin: 0em auto;
}

.slider-container {
  position: relative;
  width: 1125px;
  height: 600px;
  border: 2px solid white;
}

.slider-container > .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 1125px 100%;
}

.slider-container > .background-img {
}


.slider-container > .foreground-img {
    width: 1%;
}

.img-slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    opacity: 0.1;  /* Opacity for Modern Browsers */
    filter: alpha(opacity=10);  /* Opacity for IE8 and lower */
    zoom: 1;  /* Fix for IE7 */
    outline: none;
    margin: 0;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 600px;
    background: white;
    cursor: pointer;
}

.img-slider:hover {
  background: #f2f2f2;
  opacity: 0.1;  /* Opacity for Modern Browsers */
  filter: alpha(opacity=10);  /* Opacity for IE8 and lower */
  zoom: 1;  /* Fix for IE7 */
}

.slider-bar {
    width: 2px;
    height: 100%;
    pointer-events: none;
    position: absolute;
    background-color: white;
    left: calc(1% - 4px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;  /* Opacity for Modern Browsers */
    filter: alpha(opacity=30);  /* Opacity for IE8 and lower */
    zoom: 1;  /* Fix for IE7 */
}

.slider-button {
    width: 26px;
    height: 26px;
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    left: calc(1% - 16px);
    top: calc(50% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;  /* Opacity for Modern Browsers */
    filter: alpha(opacity=80);  /* Opacity for IE8 and lower */
    zoom: 1;  /* Fix for IE7 */
}

.slider-button:after {
  content: '';
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}

.slider-button:before {
  content: '';
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(135deg);
}

.content-box {
  box-sizing: content-box!important;
}